body {
  background-color: white;
}

hr {
  border-style:none;
  border-top-style: dotted;
  border-color: #76b39d;
  border-width: 5px;
  height: 2px;
  width: 5%;
}

.headshot {
  position: absolute;
    right:50px;
    top:10px;
}

.circular {
  border-radius: 100%;
}

p {
  margin: 4px;
}
